;;;;
; npm userconfig file
; this is a simple ini-formatted file
; lines that start with semi-colons are comments.
; read `npm help config` for help on the various options
; all options with default values
; https://docs.npmjs.com/misc/config#config-settings
;;;;

; Do not generate `package-lock.json`.
package-lock=false

; Initial Values
init-license=Apache-2.0
init.version=0.1.0

; Better package versioning
git-tag-version=true
message=v%s
